Language : Cpp
BasedOnStyle: LLVM
BreakBeforeBraces : Linux
IndentWidth: 4
TabWidth : 4
UseTab : Always
ColumnLimit : 0

SortIncludes: false
AllowShortIfStatementsOnASingleLine : false
AllowShortFunctionsOnASingleLine : Empty
AlwaysBreakAfterReturnType : None
AlignAfterOpenBracket : Align
AlignOperands : true
AlignTrailingComments : true
IndentCaseLabels : true
SpaceAfterCStyleCast : true